<section class="box">
  <h1>{{ titulo }}</h1>
  <form>
    <input type="text" class="form-control" name="nombre" [(ngModel)]="nuevoNombre"placeholder="Nombre del estudiante" id="validar_nombre" (input)="validarInput()"/><br />
    <div class="row">
      <div class="col-md-6">
        <input type="text" class="form-control" [(ngModel)]="nombreMateria1" name="nota" id="nota" placeholder="Nombre de la materia # 1"  id="validar_materia1" (input)="validarInput()"/><br  />
        <div *ngFor="let nota of notasformulario; let i = index">
          <label>Nota {{ i + 1 }}:</label>
          <input type="number" class="form-control" [(ngModel)]="notasM1[i]" (ngModelChange)="validarRango()" id="validar_input1" (input)="validarInput()" /><br />
        </div>
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" [(ngModel)]="nombreMateria2" placeholder="Nombre de la materia # 2" id="validar_materia2" (input)="validarInput()" /><br />
        <div *ngFor="let nota of notasformulario; let i = index">
          <label>Nota {{ i + 1 }}:</label>
          <input type="number" class="form-control" [(ngModel)]="notasM2[i]" (ngModelChange)="validarRango()"  id="validar_input2" (input)="validarInput()" /><br />
        </div>
      </div>
    </div>
    <div class="button-container">
      <button type="button" class="send-btn"  id="btn_Validar" (click)="MostrarInformacion()" disabled >
        Calcular Nota Final
      </button>
      <button type="button" class="send-btn" id="calcular" (click)="ListarEstudiantes()">
        Listar Estudiantes
      </button>
    </div>
  </form>
</section>
<h4>Información</h4>
<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Estudiante</th>
      <th>Nota Final Materia 1</th>
      <th>Nota Final Materia 2</th>
      <th>Nota Final Trimestre</th>
    </tr>
  </thead>
  <tbody *ngIf="estudiantes<=15" id="tabla-estudiantes">
    <tr *ngFor="let nombre of nombres; let i = index;">
      <td>{{ i + 1 }}</td>
      <td>{{ nombre }}</td>
      <td>{{ notaMateria1[i] | number : "1.1-1" }}</td> 
      <td>{{ notaMateria2[i] | number : "1.1-1" }}</td>
      <td>{{ notasFinales[i] | number : "1.1-1" }}</td>
    </tr>
  </tbody>
  
</table>

