.send-btn{
    display: block;
    font-size: 1rem;
    text-transform: uppercase;
    background: #DF4946;
    color: #ffffff;
    border: none;
    padding: 0.7rem 1.5rem;
    margin:0.6rem 0.1rem; 
    border-radius: 5px;

    cursor: pointer;
    transition: all 0.4s ease;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }