<div class="box" id="heading">
  <h1>{{ tituloPrincipal }}</h1>
</div>
<!--<div>
  <h2>Ejercicio # 1</h2>
  <p>
    Hacer una aplicación donde se use consuma una api para extraer 20 productos y
    se realice lo siguiente:
  </p>
  <ol>
    <li>Listar los 20 productos</li>
    <li>Calcular el precio total</li>
    <li>Calcular el promedio de los 20 productos</li>
  </ol>
  <br>
  <app-products></app-products>
</div>-->

<div>
  <h2>Ejercicio # 2</h2>
  <p>
  Construir un programa que calcule el resultado final del trimestre de 15 estudiantes, teniendo en
  cuenta:
</p>
<ul>
  <li>Cada estudiante tiene 2 materias en el trimestre</li>
  <li>Cada materia tiene 5 evaluaciones. La calificación está dada entre 0.5 y 5</li>
  <li>La nota final de cada materia se calcula de la siguiente manera:</li>
  <li>La nota 1 y 2 equivalen al 30%</li>
  <li>La nota 3 y 4 equivalen al 20%</li>
  <li>La nota 5 equivale al 50%</li>
  <li>El programa debe calcular la nota final de cada estudiante, y posteriormente mostrar el listado de
    estudiantes según su resultado final.</li>
</ul>

</div>
<app-resultado-final></app-resultado-final>
